if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_IC_INDOOR_INSPECTION]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_IC_INDOOR_INSPECTION]
GO

CREATE TABLE [dbo].[T_IC_INDOOR_INSPECTION] (
	[ID] [varchar] (30) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[PLAN_ID] [varchar] (30) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[INSPECTOR] [varchar] (50) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[INSPECTION_DATE] [datetime] NOT NULL ,
	[CARD_ID] [char] (10) COLLATE Chinese_PRC_CI_AS NULL ,
	[USER_NAME] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[TELPHONE] [varchar] (60) COLLATE Chinese_PRC_CI_AS NULL ,
	[ROAD] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[UNIT_NAME] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[CUS_DOM] [varchar] (20) COLLATE Chinese_PRC_CI_AS NULL ,
	[CUS_DY] [varchar] (20) COLLATE Chinese_PRC_CI_AS NULL ,
	[CUS_FLOOR] [varchar] (20) COLLATE Chinese_PRC_CI_AS NULL ,
	[CUS_ROOM] [varchar] (20) COLLATE Chinese_PRC_CI_AS NULL ,
	[OLD_ADDRESS] [varchar] (500) COLLATE Chinese_PRC_CI_AS NULL ,
	[SAVE_PEOPLE] [varchar] (20) COLLATE Chinese_PRC_CI_AS NULL ,
	[SAVE_DATE] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[EQUIP_ID] [varchar] (20) COLLATE Chinese_PRC_CI_AS NULL ,
	[IC_METER_NAME] [varchar] (20) COLLATE Chinese_PRC_CI_AS NULL ,
	[JB_METER_NAME] [varchar] (20) COLLATE Chinese_PRC_CI_AS NULL ,
	[CONDITION] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[ROOM_STRUCTURE] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[WARM] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[JB_NUMBER] [int] NULL ,
	[SURPLUS_GAS] [int] NULL ,
	[BZ] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[RQB_AROUND] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[RQB_JBCODE] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[RQB] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[STANDPIPE] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[RIGIDITY] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[STATIC] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[STATIC_DATA] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[TABLE_TAP] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[COOK_TAP] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[CLOSE_TAP] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[INDOOR] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[COOK_BRAND] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[COOK_DATE] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[COOK_HIDDEN] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[WATER_BRAND] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[WATER_DATE] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[WATER_HIDDEN] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[WHE_BRAND] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[WHE_DATE] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[WHE_HIDDEN] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL ,
	[HIDDEN] [varchar] (80) COLLATE Chinese_PRC_CI_AS NULL 
) ON [PRIMARY]
GO

